<h1>Page#calendar for Marty</h1>
<p>Find me in app/views/page/calender.html.erb</p>

<%= @name + ' ' + @my_time.to_s%>
<p><%= @month %> <% @year %> Products <br/> </p>


<%= calendar(@month, @year) %> 

<br/>
<ol>
<% @products.each do |product| %>
<li><%= product.capitalize %></li>
<% end %>
</ol>