<h3>Page#recipes</h3>

<% @recipes.each do |recipe| %>
<section style="border: 2px solid black; padding: 10px:margin:10px">
	<h3> <%= recipe.name %> </h3> 
	Made by: <%= recipe.made_by%><br/>
	Serves: <%= recipe.serves %><br/>
	Last Made: <%= recipe.last_made %>
</section>
<% end %>